# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=us-east-1
AWS_DEFAULT_REGION=us-east-1

# RDS/MySQL
RDS_DB_INSTANCE_IDENTIFIER=classicmodels-db
RDS_DB_NAME=classicmodels
RDS_MASTER_USERNAME=admin
RDS_MASTER_PASSWORD=change-me
RDS_INSTANCE_CLASS=db.t3.micro
RDS_ALLOCATED_STORAGE=20
RDS_ENGINE_VERSION=
RDS_STORAGE_TYPE=gp2
RDS_PUBLICLY_ACCESSIBLE=true
RDS_ALLOWED_CIDR=
RDS_SECURITY_GROUP_NAME=classicmodels-db-mysql-access
RDS_VPC_SECURITY_GROUP_IDS=

MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=admin
MYSQL_PASSWORD=change-me
MYSQL_DATABASE=classicmodels
